adlsnycpayroll-andrcha4-datafactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adlsnycpayroll-andrcha4-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TitleDataFlow_csvToSynapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TitleMastercsv",
								"type": "DatasetReference"
							},
							"name": "TitleCSVSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TitleMDSynapse",
								"type": "DatasetReference"
							},
							"name": "TitleSynapseSink"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TitleCSVSource",
						"TitleCSVSource sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TitleSynapseSink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Aggregate Payroll')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Aggregate Payroll Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PayrollAggregateDataFlow",
								"type": "DataFlowReference",
								"parameters": {
									"dataflow_param_fiscalyear": "2021"
								},
								"datasetParameters": {
									"Payroll2021SynapseSource": {},
									"PayrollHistoricalCSVSource": {},
									"AggregatedPayrollSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T13:55:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load Agency Master to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AgencyDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "AgencyDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AgencyCSVSource": {},
									"AgencySynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T05:34:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load All Data To Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Agency CSV to Synapse Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "AgencyDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AgencyCSVSource": {},
									"AgencySynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Employee CSV to Synapse Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "EmployeeDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmployeeCSVSource": {},
									"EmployeeSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Title CSV to Synapse Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TitleDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"TitleCSVSource": {},
									"TitleSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Payroll CSV to SQLDB Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PayrollDataFlow_csvToSQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Payroll2021CSVSource": {},
									"Payroll2021SQLSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Payroll SQLDB to Synapse Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Payroll CSV to SQLDB Data Flow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PayrollDataFlow_SQLToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PayrollSQLSource": {},
									"PayrollSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T06:09:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TitleDataFlow_csvToSynapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load Employee Master to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Employee Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "EmployeeDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmployeeCSVSource": {},
									"EmployeeSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T05:34:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load Payroll 2021 Master to SQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Payroll Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PayrollDataFlow_csvToSQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Payroll2021CSVSource": {},
									"Payroll2021SQLSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T05:34:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load Payroll 2021 SQLDB to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Payroll Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PayrollDataFlow_SQLToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PayrollSQLSource": {},
									"PayrollSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T05:40:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline Load Title Master to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Title Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TitleDataFlow_csvToSynapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"TitleCSVSource": {},
									"TitleSynapseSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adlsnycpayrollDataLakeStg",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-andrcha4-lastintial/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-26T05:34:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TitleDataFlow_csvToSynapse')]"
			]
		}
	]
}